



/* ====================================================================
                                RESET
=====================================================================*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

/* ====================================================================
                                HEADER
=====================================================================*/

main {
    padding: 10px;
    background-color: antiquewhite;
}

section {
    width: 100%;
    height:230px;
    background-color: antiquewhite;
    position: relative;
}


div:nth-of-type(1) {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    background-color: red;
    position: absolute;
    top: 10px;
    left: 0;
    transition: all 2s ease;
    
}
div:nth-of-type(2) {
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    top: 120px;
    left: 0;
    transition: all 1s ease 1s;

}


section:hover div {
    left:90%;
}